	#firstLinkNav{
		color: white; 
		margin-left: 20%;
	}

	.linksNav{	
		color: white;
		margin-left: 1%;
	}

	.linkGuia{
		margin-left: 30%;
	}

	.linksNavLat{
		margin-right: 3%;
	}

	#titulo{
		font-size: 250%;
	}

	.nav-item{
		margin-top: 10px;
	}

	p{
		font-family: 'Noto Sans', sans-serif;
		text-indent: 25px;
		margin-left: 18%;
		text-align: justify;
		margin-right: 5%;
	}

	h1,h2,h3 {
		font-family: 'Oswald', sans-serif;
	}

	h2{
		margin-left: 18%;
		padding-top: 10px;
		text-align: center;
		font-style: oblique;
		font-weight: bold;
	}

	h3{
		margin-left: 18%;
	}

	li{
		font-family: 'Mansalva', cursive;
	}


	.linksNav:link {
		color: white;
	}

	.linksNav:visited {
		color: black;
	}

	.linksNav:hover {
		color: #075252;
	}

	.linksNav:active {
		color: #16421c;
	}



	#firstLinkNav:link {
		color: white;
	}

	#firstLinkNav:visited {
		color: black;
	}

	#firstLinkNav:hover {
		color: #075252;
	}

	#firstLinkNav:active {
		color: #16421c;
	}



	.linksNavLat:link {
		color: white;
	}

	.linksNavLat:visited {
		color: black;
	}

	.linksNavLat:hover {
		color: #075252;
	}

	.linksNavLat:active {
		color: #16421c;
	}



	.linkGuia:link {
		color: #4a0c07;
	}

	.linkGuia:visited {
		color: #eb4034;
	}

	.linkGuia:hover {
		color: #854c48;
	}

	.linkGuia:active {
		color: black;
	}



	.linkGuia2:link {
		color: #4a0c07;
	}

	.linkGuia2:visited {
		color: #eb4034;
	}

	.linkGuia2:hover {
		color: #854c48;
	}

	.linkGuia2:active {
		color: black;
	}